.main {
    padding: 10px;
    color: #000;
    background-color: #727272;
    background-image: url(../img/background-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    font-family: 'Lora', serif;
    font-size: x-large;
}

.about-me-link {
    color: #000;
    text-decoration: underline;
}

.main .hello-word {
    padding-top: 145px;
}

.main .i-leading, .about-me-link {
    margin-top: 50px;
}

.experience, .activities-carried-out {
    padding: 15px;
    background-color: #C6B081;
    width: 300px;
}
