{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block content_main %}
    <section class="main">
        <p class="hello-word">Привет!</p>
        <p class="i-leading">Я Женя Фатеева,<br>ведущая концептуальных<br>и персонализированных событий</p>
        <a class="about-me-link" href="#">Обо мне</a>
        <p class="experience">15 ЛЕТ В ПРОФЕССИИ</p>
        <p class="activities-carried-out">1400+ МЕРОПРИЯТИЙ</p>
    </section>
    <section>
        <p>Победитель и финалист
            Wedding & Event премий</p>
        <p>Автор обучающих форматов
            для ведущих</p>
        <p>Спикер
            международных форумов</p>
    </section>
    <section>
        <p>выберите раздел сайты</p>
        <p>↓</p>
    </section>
    <section>
        <ul>
            <li><a href="#"><img src="#" alt="photo"></a></li>
            <li><a href="#">ведущая</a></li>
            <li><a href="#">Свадьба | День рождения | Корпоратив</a></li>
        </ul>
        <ul>
            <li><a href="#"><img src="#" alt="photo"></a></li>
            <li><a href="#">церемониймейстер</a></li>
            <li><a href="#"></a>Свадебная церемония</li>
        </ul>
        <ul>
            <li><a href="#"><img src="#" alt="photo"></a></li>
            <li><a href="#">обучение ведущих</a></li>
            <li><a href="#"></a>Индивидуальная консультация | Курсы</li>
        </ul>
    </section>
{% endblock %}
