{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>

    <link rel="stylesheet" href="{% static "main/css/main.css" %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <h1 class="heading-name">
            <span class="user-name">LARISA</span> <span class="user-first-name">MAISKAIA</span>
        </h1>
        <p class="coach">COACH</p>
    </header>
    <main>
        <div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptas optio cupiditate
                    nisi dolor error ullam quos, assumenda vel dolore accusantium ex fuga molestiae! Quae est
                    vitae rem ipsa non?</p>
            </div>
            <div>
                <ul>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">!!!!!!</a></li>
                </ul>
            </div>
        </div>
        <div>
            <h2>ОБО МНЕ</h2>
            <div>
                <ul>
                    <li>
                        <h2>/01</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, minima
                            ipsum non hic distinctio nisi.</p>
                    </li>
                    <li>
                        <h2>/02</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, minima
                            ipsum non hic distinctio nisi.</p>
                    </li>
                    <li>
                        <h2>/03</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, minima
                            ipsum non hic distinctio nisi.</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <p class="phrase-in-footer">ЭТО ДЛЯ ТЕБЯ, ЕСЛИ ТЫ</p>
        </div>
    </footer>
</body>
</html>